@model SmartStore.Admin.Models.Membership.MembershipPlanModel
@using Telerik.Web.Mvc.UI;
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.Order)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Order)
            @Html.ValidationMessageFor(model => model.Order)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.Title)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.Description)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.EarnPoint)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.EarnPoint)
            @Html.ValidationMessageFor(model => model.EarnPoint)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ComissionPct)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.ComissionPct)
            @Html.ValidationMessageFor(model => model.ComissionPct)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.PaymentRequestDaysGap)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.PaymentRequestDaysGap)
            @Html.ValidationMessageFor(model => model.PaymentRequestDaysGap)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.IsDefault)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.IsDefault)
            @Html.ValidationMessageFor(model => model.IsDefault)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.IsTrail)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.IsTrail)
            @Html.ValidationMessageFor(model => model.IsTrail)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.Fee)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Fee)
            @Html.ValidationMessageFor(model => model.Fee)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.PointToUpgrade)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.PointToUpgrade)
            @Html.ValidationMessageFor(model => model.PointToUpgrade)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ComissionRequestResentDays)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.ComissionRequestResentDays)
            @Html.ValidationMessageFor(model => model.ComissionRequestResentDays)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.AvailableOnRegistration)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.AvailableOnRegistration)
            @Html.ValidationMessageFor(model => model.AvailableOnRegistration)
        </td>
    </tr>
</table>
